@font-face {
    font-family: Majesti-Banner-MediumItalic;
    src: url(./fonts/Noto_Mono_for_Powerline.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-image: url(./img/bg_pc.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  overflow-x: hidden; /* 防止动画溢出导致滚动条 */
}